.coupons_card {
    width: 100%;
    max-width: 360px;
    border-radius: 10px;
    background-color: #eee;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: .3s ease-in-out;
}
.coupons_card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform: scale(1.05);
}

.coupons_card-img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-size: cover; 
    background-position: center;
}

.coupons_card-img img {
    width: 70%;
}

.coupon_btn-instant {
    background-color: #FEEE9D;
    color: black;
    font-size: 10pt;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    width: 140px;
    justify-content: space-around;
    align-items: center;
    margin-top: -17px;
    position: absolute;
    left: 15px;
}

.coupon_btn-instant mat-icon {
    font-size: 15pt;
}

.coupons_card-content {
    background-color: #fff;
    padding-bottom: 30px;
    border-radius: 0 0 10px 10px
}

.card_title {
    padding: 30px 10px 10px;
    font-size: .8em;
    font-weight: 200;
}

.card_description {
    font-size: 1.2em;
    padding: 0 10px 30px;
    height: 100px;
}

.card_btnGetCoupon {
    border-radius: 20px;
    margin-left: 10px;
    padding: 10px 30px;
    display: flex;
    width: fit-content;
    align-items: center;
    color: black;
    font-size: .9em;
    transition: .3s ease-in-out;
}
.card_btnGetCoupon:hover {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    transform: scale(1.03);
    background-color: #eeeeee61;
}

.card_img-logo{
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 100%;
    right: 10px;
    background-size: cover; 
    background-position: center;
}

.card_btnGetCoupon mat-icon {
    color: var(--primary-color);
    margin-left: 10px;
}
.coupon_btn-instant-brand{
    background-color: #C7EDFF;
}