<div class="coupons_card">
    <div class="coupons_card-img" [ngStyle]="card =='brand'?{'background-image': 'url('+ brand.imagen_marca +')'}: {}">
        <img  *ngIf="card =='coupons'" [src]="card =='coupons' ?  brand.logo_marca: brand.imagen_marca" alt="">
        <div *ngIf="card =='brand'" class="card_img-logo"[ngStyle]="{'background-image': 'url('+ brand.logo_marca +')'}"></div>
    </div>
    <a class="coupon_btn-instant" [class.coupon_btn-instant-brand]="card =='brand'" href="#"><mat-icon>redeem</mat-icon> {{ card =='brand' ? 'Cashback' :'Instant Coupon' }}</a>
    <div class="coupons_card-content">
        <p class="card_title" >{{ brand.nombre_marca }}</p>
        <p class="card_description">{{brand.promo_marca}}</p>
        <a class="card_btnGetCoupon" *ngIf="card =='coupons'" [href]="brand.url_marca">Get Coupon <mat-icon>arrow_forward</mat-icon></a>
    </div>
</div>
