<section class="footer">
    <div class="container footer_contet">
        <div class="footer_links">
            <a href="#">Contact Support</a>
            <a href="#">Teams and Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookie Policy</a>
        </div>
        <select class="slect_language">
            <option value="1">Español (México)</option>
        </select>
    </div>

</section>
