.footer{
    background-color: #eee;
    padding: 20px;
}

.footer_contet{
    display: flex;
    justify-content: space-around;
    font-size: 10pt;
}

.footer_links{
    display: grid;
}
.footer_links a{
    color: var(--primary-color);
}
.slect_language{
    border: none;
    background: none;
    height: 30px;
    cursor: pointer;
    color: var(--primary-color);
}
.slect_language:focus-visible{
    outline: none;
}

@media screen and (min-width: 768px) {
    .footer{
        padding: 50px;
    }
    .footer_links{
        display: flex;
        gap: 15px;
    }
}
