<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<section class="sidebar container">
    <div class="sidebar_container">
        <a class="sidebar_elements btn btn_login" href="/login">LOG IN</a>
        <a class="sidebar_elements btn" href="/login">LINK YOUR CARD</a>
    </div>
</section>

<section class="content container">
    <h1 class="content_title"> Link your <span class="nbsp">&nbsp;</span> business card to <span
            class="color_primary">unblock cashback</span> offers</h1>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>No card linking required</th>
                <th>Link your card to get</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Instant Cuppons</td>
                <td align="center"><img class="check_img" src="./assets/img/check.png" alt=""></td>
                <td align="center"><img class="check_img" src="./assets/img/check.png" alt=""></td>
            </tr>
            <tr>
                <td>Full access to Visa Savings Edge benefits</td>
                <td></td>
                <td align="center"><img class="check_img" src="./assets/img/check.png" alt=""></td>
            </tr>
            <tr>
                <td>Cashback tracking</td>
                <td></td>
                <td align="center"><img class="check_img" src="./assets/img/check.png" alt=""></td>
            </tr>
            <tr>
                <td>Merchant location search</td>
                <td></td>
                <td align="center"><img class="check_img" src="./assets/img/check.png" alt=""></td>
            </tr>
            <tr>
                <td>Cashback offers</td>
                <td></td>
                <td align="center"><img class="check_img" src="./assets/img/check.png" alt=""></td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="/login">LINK YOUR CARD</a>

    <h1 class="content_title">Explore Instant Coupons</h1>

    <div class="button_container">
        <button class="btn" 
        *ngFor="let categorie of categories"
        [class.selected]="categorie.id_categoria === selectedCategory"
        (click)="selectCategory(categorie.id_categoria)">{{ categorie.nombre_categoria }}</button>
    </div>
</section>

<section class="coupons container">
    <div class="coupons_header">
        <div class="coupons_title">Featured Instant Coupons ({{'200'}})</div>
        <div class="coupons_sort">
            <button class="coupons_sort-btn d-none selected">
                <mat-icon>list</mat-icon>
            </button>
            <button class="coupons_sort-btn d-none">
                <mat-icon>view_module</mat-icon>
            </button>
            <mat-form-field appearance="outline" class="custom-mat-form-field">
                <mat-label>SORT BY</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="food">
                    <mat-option value="1"> Alphabetical </mat-option>
                    <mat-option value="1"> Alphabetical </mat-option>
                    <mat-option value="1"> Alphabetical </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="coupons_content">
        <app-card 
        *ngFor="let brand of brands.slice(0, 10)" 
        [brand]="brand" 
        [card]="'coupons'"
        ></app-card>
    </div>

    <a href="#" class="btn btn_coupons-more"> MORE INSTANT COUPONS </a>
</section>

<section class="end_content-bg">
    <div class="container end_content">
        <h1 class="end_content-title">Unclock the full power of</h1>
        <div class="end_content-cards">
            <app-card 
            *ngFor="let brand of brands.slice(0, 9)" 
            [brand]="brand" 
            [card]="'brand'"
            ></app-card>
        </div>
        <a class="btn" href="/login">LINK YOUR CARD</a>
    </div>
</section>