.sidebar_container {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin-top: 10px;
}

.btn_login {
    border: 1px solid var(--border-color);
    background-color: white;
    color: black;
}

.btn_login::after {
    color: var(--primary-color);
}

.content {
    display: grid;
    justify-items: center;
}

.content_title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin: 50px 5px;
    max-width: 600px;
}

.nbsp {
    margin: 0 .1em;
}

.table {
    font-size: 10pt;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table.table .check_img {
    width: 20px;
}

table.table td {
    border-bottom: 1px solid #d7d7d7;
}

table.table td,
table.table th {
    padding: 5px 0;
}

.button_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  max-width: 500px;
}

.button_container .btn {
    color: #2C2C2C;
    width: fit-content;
    text-align: center;
    background-color: #eee;
    border: none;
    
}

.button_container .btn::after {
    content: '';
}
.button_container .btn.selected {
    background-color: #2C2C2C;
    color: #eee;
}
.coupons_sort{
    display: flex;
}

.coupons_sort-btn{
    color: var(--primary-color);
    background-color: #fff;
    border: none;
    height: fit-content;
    border-radius: 5px;
    padding: 15px;
}
.coupons_sort-btn mat-icon{
    font-size: 30px;
}

.coupons_sort-btn.selected{
    background-color: var(--primary-color);
    color: white;
}

.coupons_header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 15px 5px;
}



/* Styles of cards */
.coupons{
    display: grid;
    justify-items: center;
    margin-bottom: 80px;
}

.coupons_content{
    display: grid;
    width: 95%;
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.btn_coupons-more{
    margin-top: 55px;
    background: none;
    color: black;
}
.btn_coupons-more:hover{
    border: 1px solid var(--primary-color);
}
.btn_coupons-more::after{
    color: var(--primary-color);
    position: relative;
    margin-left: 18px;
    font-size: 14pt;
}

.end_content-bg{
    width: 100%;
    background: rgb(20,55,192);
    background: -moz-linear-gradient(180deg, rgba(20,55,192,1) 36%, rgba(255,255,255,1) 86%);
    background: -webkit-linear-gradient(180deg, rgba(20,55,192,1) 36%, rgba(255,255,255,1) 86%);
    background: linear-gradient(180deg, rgba(20,55,192,1) 36%, rgba(255,255,255,1) 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1437c0",endColorstr="#ffffff",GradientType=1);
    padding: 100px 0;
}
.end_content{
    display: grid;
    justify-items: center; 
}

.end_content-title{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}
.end_content-cards{
    display: grid;
    gap: 20px;
    justify-items: center;
    margin: 70px 0 50px;
}
app-card{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .sidebar{
        display: flex;
        justify-content: end;
    }
    .sidebar_container{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        width: 250px;
    }
    .btn_login{ 
        width: 100px;
    }
    .content_title{
        font-size: 35pt;
    }

    .button_container{
        max-width: 600px;
    }
    .coupons_content, .end_content-cards{
        grid-template-columns: repeat(3, 1fr);
    }
    .d-none{
        display: grid ;
    }
}

@media screen and (min-width: 1024px) {
    .coupons_content, .end_content-cards{
        grid-template-columns: repeat(4, 1fr);
    }
    .sidebar_container{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        width: 350px;
    }
}