:root{
    --primary-color: #1437C0;
    --family-font: 'Ubuntu', sans-serif;
    --border-color: #adadad;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  background: #ffffff; /* Fondo blanco */
  background-image: radial-gradient(circle, #0000ff24 1%, transparent 70%),
                    radial-gradient(circle, #0000ff24 1%, transparent 75%),
                    radial-gradient(circle, #0000ff00 1%, transparent 80%),
                    radial-gradient(circle, #0000ff00 1%, transparent 85%),
                    radial-gradient(circle, #0000ff00 1%, transparent 90%),
                    radial-gradient(circle, #0000ff24 1%, transparent 70%);

  background-size: 450px 400px, 500px 500px, 100px 100px, 180px 180px, 120px 120px, 460px 360px;
  background-position: 0% 0%, 100% 60%, 70% 20%, 40% 80%, 90% 10%, 0% 90%;
  background-repeat: no-repeat;
  font-family: var(--family-font);
  height: 100vh;
}

.container{
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
}

.btn{
    color: white;
    background-color: var(--primary-color);
    width: 90%;
    border-radius: 50px;
    padding: 5px 10px;
    text-align: center;
    position: relative;
    font-size: 8pt;
    transition: .3s ease-in-out;
}
.btn::after{
    content: '>';
    position: absolute;
    /* top: 50%; */
    right: 15px;
}
.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform: scale(1.05);
}

.color_primary{
    color: var(--primary-color);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.d-none{
    display: none;
}

@media screen and (min-width: 768px) {
    .btn{
        width: fit-content;
        padding: 10px 15px;
        padding-right: 27px;
    }
    .button_container .btn{
        padding-right: 10px;
    }
}
@media screen and (min-width: 1024px) {
    .btn{
      font-size: 10pt;
    }
}